---
layout: photos
class: post
description: Photography
---

{% for post in site.categories.photo limit:10 %}
  <section {% if post.dark %}class=dark{% endif %}>
    <a href='{{post.url}}'>
      {% if post.video %}
      <video
        poster='{{site.photo_prefix}}{{post.photo}}_1280.jpg' autoplay muted loop>
        <source 
          src='{{site.photo_prefix}}{{post.photo}}.mp4' />
      </video>
      {% else %}
      <picture>
        <source
          type='image/webp'
          srcset='{{site.photo_prefix}}{{post.photo}}_1280.webp 1280w, {{site.photo_prefix}}{{post.photo}}_2880.webp 2880w' />
        <source
          srcset='{{site.photo_prefix}}{{post.photo}}_1280.jpg 1280w, {{site.photo_prefix}}{{post.photo}}_2880.jpg 2880w' />
        <img
          loading="lazy"
          alt='{{post.title}}'
          src='{{site.photo_prefix}}{{post.photo}}_1280.jpg' />
      </picture>
      {% endif %}
    </a>
  </section>
{% endfor %}

<div style='padding:20px 0 80px 0;text-align:center;'>
  <a href='/photos/archive'>ARCHIVE</a>
</div>
