<style>
  .lunrsearchresult .title {color: #0f4fd9;}
  .lunrsearchresult .url {color: rgb(149, 165, 169);}
  .lunrsearchresult a {display: block; color: #4f4d4d; text-decoration: none;}
  .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
  .lunrsearchresult a:hover .title {text-decoration: underline dotted;}
  .search-loading {color: #666; font-style: italic;}
</style>

<form onSubmit="return initSearchAndQuery(document.getElementById('lunrsearch').value);">
  <div class="search-input-container">
    <input
      type="text"
      class="search-input"
      id="lunrsearch"
      name="q"
      maxlength="120"
      placeholder="Search"
    />
  </div>
</form>

<div class="limiter">
  <div id="lunrsearchresults">
    <ul></ul>
  </div>
</div>

<script>
var searchIndex = null;
var searchDocuments = null;
var lunrLoaded = false;

function loadLunr(callback) {
  if (lunrLoaded) {
    callback();
    return;
  }
  var script = document.createElement('script');
  script.src = '/js/lunr.js';
  script.onload = function() {
    lunrLoaded = true;
    callback();
  };
  document.head.appendChild(script);
}

function loadSearchIndex(callback) {
  if (searchDocuments) {
    callback();
    return;
  }
  fetch('/search-index.json')
    .then(function(response) { return response.json(); })
    .then(function(data) {
      searchDocuments = data;
      callback();
    })
    .catch(function(err) {
      console.error('Failed to load search index:', err);
      document.getElementById('lunrsearchresults').innerHTML = '<p>Search unavailable</p>';
    });
}

function buildIndex() {
  if (searchIndex) return;
  searchIndex = lunr(function () {
    this.ref('id');
    this.field('title', { boost: 10 });
    this.field('body');
    var self = this;
    searchDocuments.forEach(function (doc) {
      self.add(doc);
    });
  });
}

function performSearch(term) {
  var resultsEl = document.getElementById('lunrsearchresults');
  resultsEl.innerHTML = '<ul></ul>';

  if (!term) return false;

  resultsEl.innerHTML = "<p>Search results for '" + term + "'</p><ul></ul>";
  var results = searchIndex.search(term);

  if (results.length > 0) {
    var ul = resultsEl.querySelector('ul');
    for (var i = 0; i < results.length; i++) {
      var ref = results[i]['ref'];
      var doc = searchDocuments.find(function(d) { return d.id == ref; });
      if (doc) {
        var body = doc.body.substring(0, 120) + '...';
        ul.innerHTML += "<li class='lunrsearchresult'><a href='" + doc.url + "'><span class='title'>" + doc.title + "</span><br /><span class='body'>" + body + "</span><br /><span class='url'>" + doc.url + "</span></a></li>";
      }
    }
  } else {
    resultsEl.querySelector('ul').innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
  }
  return false;
}

function initSearchAndQuery(term) {
  var resultsEl = document.getElementById('lunrsearchresults');
  resultsEl.innerHTML = '<p class="search-loading">Loading search...</p>';

  loadLunr(function() {
    loadSearchIndex(function() {
      buildIndex();
      performSearch(term);
    });
  });
  return false;
}
</script>
