---
layout: default
class: post
---

{% if page.notitle != true %}<h1>{{ page.title }}</h1>{% endif %}

{% include back-link.html %}

<div class="reading-time">
  {% include reading-time.html %}
</div>

<div class='body'>{{ content }}</div>

<div class='breaker'></div>


<div class="personal-elements-container">
  <postamble datetime="{{ page.date | date: "%Y-%m-%d" }}">
    {{ page.date | date: "%B %e, %Y" }}
  </postamble>
  <a href="https://twitter.com/intent/follow?screen_name={{site.me.twitter}}&user_id={{site.me.twitter_id}}" 
      rel="nofollow" rel="noopener"
      target="_blank"
      title="Follow me on Twitter">
    @{{site.me.twitter}}
  </a>
  <a href="{% if page.categories contains 'book' %}/reading/rss.xml{% else %}/rss.xml{% endif %}" class="rss-link" title="RSS feed">
    <span class="rss-text">Find the RSS link</span>
    <svg height="32" width="32" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-45.57 -45.57 546.87 546.87" xml:space="preserve">
      <g>
        <rect x="0" y="0" style="fill:#F78422;" width="455.731" height="455.731"/>
        <g>
          <path style="fill:#FFFFFF;" d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348 c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348 C391.986,303.103,357.971,220.923,296.208,159.16z"/>
          <path style="fill:#FFFFFF;" d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348 C282.429,270.196,184.507,172.273,64.143,172.273z"/>
          <circle style="fill:#FFFFFF;" cx="109.833" cy="346.26" r="46.088"/>
        </g>
      </g>
    </svg>
  </a>
</div>

<div class="mobile-only-button">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="domlizarrraga" data-color="#5F7FFF" data-emoji="🍕" data-font="Comic" data-text="Buy me a pizza" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>

<script src="https://giscus.app/client.js"
        data-repo="dominiclizarraga/dominiclizarraga.github.io"
        data-repo-id="R_kgDOJ601Dg"
        data-category="General"
        data-category-id="DIC_kwDOJ601Ds4CliRX"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
